{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Planner</title>
    <style type="text/css">
        html {
            height: 100%;
        }

        body {

            background: #547f7f;
            background: -webkit-linear-gradient(135deg, #87b3ae, #648880, #293f50, #132b44);
            {#background: -moz-linear-gradient(135deg, #d5e8e3, #648880, #293f50, #132b44);#}
            {#background: linear-gradient(135deg, #d5e8e3, #648880, #293f50, #132b44);#}
        }
    </style>
    {% load static %}
    <link href="{% static "css/111.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
</head>
<body>
<!-- шапка страницы -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--    TODO: change color -->
        <a class="navbar-brand">
            {% load static %}
            <img src="{% static "img/calendar-icon.png" %}" width="30" height="30" alt="calendar-icon">
            Planner
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#Modal">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- таблицы -->

<!-- таблицы -->
<div class="row justify-content-center">
    <div class="col col-11 col-md-4 mt-3 mx-5">
        <table class="table table-bordered table-hover">
            <thead class="thead table-active">
                <tr>
                    <th scope="col"> To do list
                        <a data-toggle="modal" data-target="#Modal__Edit" class="icon float-right">
                            <i class="far fa-edit"></i>
                        </a>
                        <ul class="taskList">
                        {% for todo in todos %} <!-- django template lang - for loop -->
                            <li class="taskItem">
                                <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                                <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                                <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                                <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                            </li>
                        {% endfor %}
                        </ul><!-- taskList -->
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


    <!-- модально окно о нас -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Planner-это web-приложение, разработанное для планирования вашей насыщенной жизни. <br> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>

    <!-- модально окно редактирования -->
    <div class="modal fade" id="Modal__Edit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="" method="post">
            {% csrf_token %} <!-- csrf token for basic security -->
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description" required>
                    <label for="description">Description</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" name="category_select">
                    <option class="disabled" value="">Choose a category</option>
                    {% for category in categories %}
                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                    <label for="category">Category</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" name="date">
                    <label for="dueDate">Due Date</label>
                </div>
                <div class="row">
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                    <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                </div>
            </form>
<!--                <div class="modal-header">-->
<!--                    Редактирование записи-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <form method="post" action="">-->
<!--                        <input type="text" name="Description"/><br/>-->
<!--                        <input type="submit" name="add" value="OK"/><br/>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>